@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  padding-top: $container-padding;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

  @include screen('xs', 'max') {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.content {
  &.main-box, &.info-box, &.prevs-box {
    max-width: 1200px;
    margin: 0 auto;
  } 
}

section {
  padding-right: $min-main-padding;
  padding-left: $min-main-padding;
  
  &.main {
    background-color: $background-additional;
  }

  &.info {
    padding-top: 120px;
    position: relative;

    @include screen('custom-660', 'max') {
      padding-top: 0px;
    }

    &::after {
      display: block;
      content: '';
      background-image: url('../images/section-main-header.svg');
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      top: -50px;
      background-size: cover;
    }
  }

  &.prevs {
    padding-top: 220px;

    @include screen('xs', 'max') {
      padding-top: 150px;
    }
  }
}

.header {
  width: calc(100% - 40px);

  @include screen('xs', 'max') {
    width: 100%;
  }

  position: absolute;
  margin-top: 30px;
  padding-right: $min-main-padding;
  padding-left: $min-main-padding;
  box-sizing: border-box;

  &-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

    &-logotype {
      svg {
        height: 96px;
        width: 151px;
        
        @include screen('xs', 'max') {
          height: 59px;
          width: 94px;
        }
      }
    }
  
    &-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 50%;
      @include screen('custom-660', 'max') {
        &.lg {
          display: none;
        }
      }
  
      &-el {
        text-align: center;
        font-style: normal;
        font-weight: normal;
        color: #312930;
        font-family: 'CeraPro-Regular';
  
        &-link {
          font-size: 26px;
          line-height: 33px;
          transition: 0.2s;
  
          @include screen('md', 'max') {
            font-size: 22px;
          }
  
          &:hover {
            color: #EE7754;
          }
        }
  
        &-desc {
          font-size: 13px;
          line-height: 33px;
  
          @include screen('md', 'max') {
            font-size: 10px;
            line-height: 30px;
          }
  
          @include screen('custom-800', 'max') {
            display: none;
          }
        }
      }
  
      &-button {
        svg {
          height: 68px;
          width: 66px;
  
          @include screen('md', 'max') {
            height: 66px;
            width: 91px;
          }
  
          @include screen('xs', 'max') {
            height: 48px;
            width: 51px;
          }
        }
      }
    }
  }
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 216px;

  @include screen('custom-800', 'max') {
    padding-top: 166px;
  }

  @include screen('xs', 'max') {
    padding-top: 116px;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #312930;
    font-family: 'CeraPro-Regular';

    &-link {
      font-size: 25px;
      line-height: 31px;
      transition: 0.2s;
      margin-right: 50px;

      @include screen('sm', 'max') {
        font-size: 20px;
        margin-right: 20px;
      }

      @include screen('xs', 'max') {
        font-size: 15px;
        line-height: 20px;
        margin-right: 10px;
      }

      &::after {
        margin-top: 5px;
        display: block;
        content: '';
        height: 1px;
        color: #EE7754;
        background: #EE7754;
        visibility: hidden;
      }

      &:hover {
        color: #EE7754;
      }

      &:hover::after {
        visibility: visible;
      }
    }
  }

  &-description {
    font-family: 'PFRegalTextPro-Bold';
    font-size: 52px;
    line-height: 52px;
    margin-top: 99px;
    margin-bottom: 150px;
    position: relative;
    width: 90%;
    z-index: 1;

    &::before {
      content: "";
      width: 1289px;
      height: 352px;
      position: absolute;
      background: url('../images/main-right-dash.svg');
      background-repeat: no-repeat;
      z-index: -1;
      top: -112%;
      left: -38%;
      transform: translate(50%, 50%);
      z-index: -1;

      @include screen('lg', 'max') {
       display: none;
      }
    }

    & > span {
      position: relative;

      &::after {
        content: "";
        width: 407px;
        height: 74px;
        position: absolute;
        bottom: -70%;
        left: 50%;
        background: url(../images/text-border-dashed.svg);
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        z-index: -1;

        @include screen('lg', 'max') {
          display: none;
        }
      }
    }

    @include screen('sm', 'max') {
      font-size: 34px;
      margin-top: 50px;
      line-height: 110%;
    }

    @include screen('xs', 'max') {
      margin-top: 40px;
      font-size: 24px;
      margin-bottom: 90px;
      line-height: 110%;
      width: 100%;
    }
  
  }
  
}
/*
Тут костыли с гридами, не бей
*/
.info-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 170px 1fr 170px;

  &-header {
    grid-column: 2 / 4;
    width: 384px;

    & > p {
      font-family: 'PFRegalTextPro-Bold';
      font-size: 52px;

      @include screen('custom-660', 'max') {
        font-size: 34px;
      }

      @include screen('xs', 'max') {
        width: 100%;
        font-size: 18px;
      }
    }
  }

  &-stats {
    display: grid;
    justify-content: space-between;
    grid-column: 1 / 6;

    @include screen('xs', 'max') {
      flex-direction: column;
      align-self: start;
    }

    &-el {
      grid-row: 1 / 3;
    }
  }

  &-stats-el > h3 {
    font-family: 'Lineatura';
    color: #ee7754;
    font-size: 110px;
    margin-bottom: 59px;

    @include screen('md', 'max') {
      font-size: 100px;
    }

    @include screen('xs', 'max') {
      margin-bottom: 39px;
    }

    & > sup {
      font-size: 20px;
      vertical-align: super;
      position: relative;
      left: -38px;
      top: -28px;

      
      @include screen('md', 'max') {
        font-size: 16px;
      }
    }
  }

  &-stats-el > p {
    font-family: 'CeraPro-Regular';
    color: #312930;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;

    @include screen('md', 'max') {
      font-size: 17px;
    }

    &::before {
      display: block;
      content: '';
      width: 25px;
      height: 4px;
      margin-right: 15px;
      background: #EE7754;
    }
  }

  &-details {
    display: grid;
    align-items: end;
    grid-column: 2 / 4;

    &::after {
      position: absolute;
      content: '';
      background: url('../images/download-presentation-dashed.svg');
      width: 1098px;
      height: 502px;
      right: 45%;
      background-repeat: no-repeat;
      top: 29%;
      transform: translate(12%, 17%);
      background-repeat: no-repeat;
    }

    & > a {
      display: block;
      font-size: 20px;
      font-family: 'CeraPro-Regular';
      position: relative;
      z-index: 1;

      &::before {
        position: absolute;
        content: '';
        background: url('../images/download-presentation-border.svg');
        width: 209px;
        height: 10px;
        display: block;
        top: 50%;
        right: 61%;
        transform: translate(-50%, 50%);
        padding-top: 10px;
        background-repeat: no-repeat;
      }
    }
  }
}

.prevs-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include screen('xs', 'max') {
    align-items: flex-start;
  }

  &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;

    @include screen('xs', 'max') {
      margin-bottom: 40px;
    }

    & > h2 {
      font-family: 'PFRegalTextPro-Bold';
      font-size: 52px;
      color: #312930;

      @include screen('custom-660', 'max') {
        font-size: 34px;
      }
      
      @include screen('xs', 'max') {
        font-size: 24px;
      }
    }

    & > svg {
      width: calc(175px * 4.5);

      @include screen('custom-1235', 'max') {
        display: none;
      }
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    @include screen('xs', 'max') {
      flex-direction: column;
    }

    &::before {
      position: absolute;
      content: '';
      background: url('../images/section-prev-background.svg');
      width: 985px;
      height: 380px;
      display: block;
      bottom: 6%;
      right: -10%;
      background-repeat: no-repeat;
      z-index: -1;
    }

    &-el {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 30%;
      margin-bottom: 72px;

      @include screen('custom-1235', 'max') {
        width: 50%;
      }
      
      @include screen('custom-660', 'max') {
        width: 100%;
      }


      &:nth-child(n+4) {
        margin-bottom: 0px;
      }

      p {
        font-family: 'CeraPro-Regular';
        font-size: 18px;
        color: #312930;
        line-height: 24px;
        font-weight: 500;
      }

      & > svg {
        position: relative;
        margin-bottom: 29px;

        &.certificate {
          width: 71px;
          height: 85px;
        }

        &.vote {
          width: 99px;
          height: 82px;
        }

        &.presentation {
          width: 66px;
          height: 86px;
        }

        &.statistics {
          width: 103px;
          height: 70px;
        }

        &.car {
          width: 136px;
          height: 72px;  
        }

        &.pack {
          width: 403px;
          height: 242px;
          position: relative;
        }
      }
    }
  }
}