@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/variables'; // Переменные
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  padding-top: $container-padding;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

  @include screen('xs', 'max') {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

section {
  padding-right: $min-main-padding;
  padding-left: $min-main-padding;
  
  &.main {
    background-color: $background-additional;
  }

  &.info {
    position: relative;
    min-height: 100vh;

    &::after {
      display: block;
      content: '';
      background-image: url(../images/section-main-header.svg);
      width: 100%;
      height: 50px;
      position: absolute;
      left: 0;
      top: -50px;
      background-size: cover;
    }
  }
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 20px;
  margin: 0 auto;
  max-width: 1200px;

  &-logotype {
    svg {
      height: 96px;
      width: 151px;
      
      @include screen('xs', 'max') {
        height: 59px;
        width: 94px;
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    @include screen('custom-860', 'max') {
      &.lg {
        @include screen('custom-660', 'max') {
          display: none;
        }
      }
    }

    &-el {
      text-align: center;
      font-style: normal;
      font-weight: normal;
      color: #312930;
      font-family: 'CeraPro-Regular';

      &-link {
        font-size: 26px;
        line-height: 33px;
        transition: 0.2s;

        @include screen('md', 'max') {
          font-size: 22px;
        }

        &:hover {
          color: #EE7754;
        }
      }

      &-desc {
        font-size: 13px;
        line-height: 33px;

        @include screen('md', 'max') {
          font-size: 10px;
          line-height: 30px;
        }

        @include screen('custom-800', 'max') {
          display: none;
        }
      }
    }

    &-button {
      svg {
        height: 68px;
        width: 66px;

        @include screen('md', 'max') {
          height: 66px;
          width: 91px;
        }

        @include screen('xs', 'max') {
          height: 48px;
          width: 51px;
        }
      }
    }
  }
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 120px;
  max-width: 1000px;
  margin: 0 auto;

  @include screen('custom-660', 'max') {
    padding-top: 60px;
  }

  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #312930;
    font-family: 'CeraPro-Regular';

    &-link {
      font-size: 25px;
      line-height: 31px;
      transition: 0.2s;
      margin-right: 50px;

      @include screen('sm', 'max') {
        font-size: 20px;
        margin-right: 20px;
      }

      @include screen('xs', 'max') {
        font-size: 15px;
        line-height: 20px;
        margin-right: 10px;
      }

      &::after {
        margin-top: 5px;
        display: block;
        content: '';
        height: 1px;
        color: #EE7754;
        background: #EE7754;
        visibility: hidden;
      }

      &:hover {
        color: #EE7754;
      }

      &:hover::after {
        visibility: visible;
      }
    }
  }

  &-description {
    font-family: 'PFRegalTextPro-Bold';
    font-size: 52px;
    line-height: 52px;
    margin-top: 99px;
    margin-bottom: 150px;
    position: relative;
    width: 90%;

    @include screen('sm', 'max') {
      font-size: 34px;
      margin-top: 50px;
      line-height: 110%;
    }

    @include screen('xs', 'max') {
      margin-top: 40px;
      font-size: 24px;
      margin-bottom: 90px;
      line-height: 110%;
      width: 100%;
    }
  
  }
  
}